rizon:
    server: irc.rizon.net
    port: 6667
    username: Guest
    realname: Guest
    nickname: Guest
    channels:
        - name: "#HorribleSubs"
          plugins: []
    pass: "insecure_key"  # optional
